.scroll-container {
    background: #e5e7eb;
    overflow: hidden;
    padding: 15px;
    font-size: 16px;
  }
  
  .scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 16s linear infinite;
    -webkit-animation: my-animation 16s linear infinite;
    animation: my-animation 16s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-75%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-75%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-75%);
      -webkit-transform: translateX(-75%);
      transform: translateX(-75%);
    }
}